<table id='table' class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Birthdate</th>
        <th>Active</th>
        <th>Permissions</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let user of allUsers'>
        <td>{{user.id}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.birthdate}}</td>
        <td class="alert alert-danger" *ngIf="user.active === false || user.active === 'false'; else trueCase">Inactive</td>
        <ng-template #trueCase>
            <td class="alert alert-success">Active</td>
        </ng-template>
        <td><button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                    title="Read"
                    *ngIf="user.permissions.r === 'true' || user.permissions.r === true"
                    [innerHTML]="eye"></button>
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                    title="Write"
                    *ngIf="user.permissions.w === 'true' || user.permissions.w === true"
                    [innerHTML]="pencil"></button>
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                    title="Execute"
                    *ngIf="user.permissions.x === 'true' || user.permissions.x === true"
                    [innerHTML]="tools"></button>
        </td>
        <td>
            <button type="button" class="btn btn-outline-dark" (click)="changeToPut(user)"> Edit </button>
            <button type="button" class="btn btn-outline-dark" (click)="changeToDelete(user)"> Delete </button>
        </td>
    </tr>
    </tbody>
</table>