table {
    width: 90%;
    margin: auto;
    text-align: center;
}
th {
    text-align: center;
}

.ngx-pagination ul {
    width: 20%;
    margin: auto;
}
.ngx-pagination .li .current {
    background: darkgray;
}

#pag {/*
 width: 75%;*/
}

#id {
    width: 10%;
}

th button{
    background-color: white;
    padding-bottom: 0;
}
