table {
    width: 90%;
    margin: auto;
    text-align: center;
}
th {
    text-align: center;
}

.ngx-pagination ul {
    width: 20%;
    margin: auto;
}
.ngx-pagination .li .current {
    background: darkgray;
}

#pag {/*
 width: 75%;*/
}

#id {
    width: 10%;
}

th button{
    background-color: white;
    padding-bottom: 0;
}

.navbar-expand-lg{
    width: 90%;
    margin:auto;
}

#navbarSupportedContent{
    padding: 0;
}

#search{
    width: 50%;
    display: inline-block;
}

form{
    display: inline-block;
    width: 50%;
}
 #search input{
     width: 50%;
     float: right;
 }

 #add{
     float: left;
 }

 #list{
     width: 20%;
     margin: auto;
 }