<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <button id="add" type="button" class="btn btn-dark" (click)="changeToPost()">Add New User</button>
        </form>
        <div id="search">
            <input class="form-control mr-sm-2 search" type="search" placeholder="Search" aria-label="Search"
                   (input)="search($event.target.value)"
                   (focus)="refreshUsers($event.target.value)">
        </div>
    </div>
</nav>

<app-form #modalPOST>
    <div modal-title>
        Add New User
    </div>

    <div modal-body>
        <app-post></app-post>
    </div>
    <ng-container modal-footer>
        <button class="btn btn-primary" (click)="saveUser()">Save</button>
    </ng-container>

</app-form>

<app-form #modalPUT>
    <div modal-title>
        Update User with id: {{formService.userPut.id}}
    </div>

    <div modal-body>
        <app-put></app-put>
    </div>
    <ng-container modal-footer>
        <button class="btn btn-primary" (click)="changeUser()">Save</button>
    </ng-container>

</app-form>

<app-form #modalDEL>
    <div modal-title>
        Delete User with id: {{formService.idDel}}
    </div>

    <div modal-body>
        <app-delete></app-delete>
    </div>
    <ng-container modal-footer>
        <button class="btn btn-primary" (click)="deleteYes()"> Yes</button>
        <button class="btn btn-secondary" (click)="deleteNo()"> No</button>
    </ng-container>

</app-form>

<table id='table' class="table table-striped">
    <thead>
    <tr>
        <th>
            <button type="button" class="btn btn-secondary" (click)="sortTest('id')">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16">
                    <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"/>
                </svg>
            </button>
            ID
        </th>
        <th>
            <button type="button" class="btn btn-secondary" (click)="sortTest('firstname')">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16">
                    <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"/>
                </svg>
            </button>
            Firstname
        </th>
        <th>
            <button type="button" class="btn btn-secondary" (click)="sortTest('lastname')">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16">
                    <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"/>
                </svg>
            </button>
            Lastname
        </th>
        <th>
            <button type="button" class="btn btn-secondary" (click)="sortTest('email')">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16">
                    <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"/>
                </svg>
            </button>
            Email
        </th>
        <th>
            <button type="button" class="btn btn-secondary" (click)="sortTest('birthdate')">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16">
                    <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"/>
                </svg>
            </button>
            Birthdate
        </th>
        <th>
            <button type="button" class="btn btn-secondary" (click)="sortTest('active')">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16">
                    <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"/>
                </svg>
            </button>
            Active
        </th>
        <th>
            Permissions
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let user of globalService.arrayOfUsers'>
        <!--<div *ngIf='check(user)'>-->
        <td id="id">{{user.id}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.birthdate | date: 'mediumDate' }}</td>
        <td class="alert alert-danger"
            *ngIf="user.active === false || user.active === null; else trueCase">Inactive
        </td>
        <ng-template #trueCase>
            <td class="alert alert-success">Active</td>
        </ng-template>
        <td>
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                    title="Read"
                    *ngIf="user.permissions.r === true"
                    [innerHTML]="eye"></button>
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                    title="Write"
                    *ngIf="user.permissions.w === true"
                    [innerHTML]="pencil"></button>
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                    title="Execute"
                    *ngIf="user.permissions.x === true"
                    [innerHTML]="tools"></button>
        </td>
        <td>
            <button type="button" class="btn btn-outline-dark" (click)="changeToPut(user)"> Edit</button>
            <button type="button" class="btn btn-outline-dark" (click)="changeToDelete(user.id)"> Delete</button>
        </td>
        <!--</div>-->
    </tr>
    </tbody>
</table>

<div id="pagination"
     style="width:90%; margin: auto">
    <p style="display: inline-block; width:30%; margin-top: 5px">
        Displaying {{paginationService.usersPerPage}} users ({{paginationService.from}} to {{paginationService.to}}) of
        {{paginationService.numberOfUsers}}.</p>
    <ul class="pagination justify-content-center"
        style="float: right; margin-top: 5px">
        <li class="page-item disabled">
            <button *ngIf="paginationService.curentPage !== 1" class="page-link btn btn-outline-dark" tabindex="-1">
                Previous
            </button>
        </li>
        <li class="page-item">
            <button class="page-link btn btn-outline-dark">1</button>
        </li>
        <li class="page-item">
            <button class="page-link btn btn-outline-dark">2</button>
        </li>
        <li class="page-item">
            <button class="page-link btn btn-outline-dark">3</button>
        </li>
        <li class="page-item">
            <button *ngIf="paginationService.curentPage !== paginationService.numberOfPages"
                    class="page-link btn btn-outline-dark">Next
            </button>
        </li>
    </ul>
</div>