<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">{{title}}</a>
        </div>
    </div>
</nav>
<app-form></app-form>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline my-2 my-lg-0">
            <button id="add" type="button" class="btn btn-dark" (click)="changeValue()">Add New User</button>
        </form>
    </div>
</nav>

<app-table-of-users></app-table-of-users>

</body>
