<form #userForm="ngForm" name="form"> <!--(submit)="save($event)-->

    First Name:<br>
    <input type="text" #firstname autocomplete="off"
           (input)="constructUser('firstname', firstname.value)">
    <br>
    Last Name:<br>
    <input type="text" #lastname autocomplete="off"
           (input)="constructUser('lastname', lastname.value)"><br>
    Email:<br>
    <input type="text" #email autocomplete="off"
           (input)="constructUser('email', email.value)"><br>
    Birthdate:<br>
    <input type="date" #birthdate autocomplete="off"
           (input)="constructUser('birthdate', birthdate.value)"><br>
    Active:
    <input type="checkbox" #active autocomplete="off"
           (change)="constructUser('active', active.checked)"><br>
    Permissions:
    Read:
    <input type="checkbox" #read autocomplete="off"
           (change)="constructUser('r', read.checked)">
    Write:
    <input type="checkbox" #write autocomplete="off"
           (input)="constructUser('w', write.checked)">
    Execute:
    <input type="checkbox" #execute autocomplete="off"
           (input)="constructUser('x', execute.checked)"><br>
</form>
