#uploadPlace{
    height: 70%;
    width: auto;
    border: 5px;
    border-style: dotted;
    border-radius: 10%;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    color: lightgray;
    border-color: lightgray;
}

#upload{
    height: 280px;
}

#text{
    padding-top: 25px;
}

.customAlert{
    font-weight: bold;
    text-align: center;
    font-size: large;
}

.customButton {
    display: inline-block;
    background: darkgray;
    opacity: 0.9;
    margin-top: 10%;
    margin-left: 15%;
}
#upload_button input[type=file] {
    display:none;
}

.customCol{
   padding-left: 0;
    padding-right: 0;
}
